---
layout: default
comments: true
---

<article class="post">
  <div class="entry">
    <table width=200>
  <tbody>
    <tr>
      <td><a href="/">home</a></td>
      <td><a href="/about/">about</a></td>
      <td><a href="/blog/">blog</a></td>
    </tr>
  </tbody>
</table>
</div>  
  
  <h2>{{ page.title }}</h2>

<span>
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <tagstyle href="/tag/{{ tag_name }}"><nobr>{{ tag_name }}</nobr>&nbsp;</tagstyle>
  {% endfor %}
</span>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  
  <div class="PageNavigation">
  
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}} &nbsp; </a>
   {% else %}
    <a class="prev"></a>
  {% endif %}
    {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
    
  </div>
  <p></p>
  
 <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://https-calumdavey-github-io.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</article>
